{% layout "server/layouts/base.liquid" %}

{% block content %}

<section id="intro-section">
  <ul class="image-stairs" id="image-stairs">
    {% for stair in imageStairs %}
      <li>
        <a href="{{ stair.link }}">
         <img src="{{ stair.src }}" alt="{{ stair.alt }}" />
        </a>
      </li>
    {% endfor %}
  </ul>
  <article>
    {% render '../components/rolling-text/rolling-text.liquid' %}
    {% comment %} <h2>Frontend Developer</h2> {% endcomment %}
    <p class="content-block">
      Hey, welcome to my portfolio! I’m Chris a tall, passionate builder of web and game experiences. Take a look around and check out the projects I’ve worked on!
    </p>
    {% render '../components/contact-button/contact-button.liquid' %}
  </article>
</section>

<!-- disciplines -->
<section id="discipline-section">

  <!-- Discpline links, hover to change image -->
  {% render '../components/discipline-links/discipline-links.liquid', disciplineProjects: disciplineProjects %}
  {% comment %} {% render '../components/contact-button/contact-button.liquid' %} {% endcomment %}
</section>

<!-- Highlighted projects -->
<section id="featured-work-section">
  <article class="heading-block">
    <h2>Featured Work</h2>
    <p class="content-block">
      These are a few projects I’ve worked on in the past. Each one shaped by creativity, problem-solving, and a passion for building.
    </p>
    {% render '../components/contact-button/contact-button.liquid' %}
  </article>
  <ul id="featured-projects-list">
    {% for project in featuredProjects %}
    <li>
      <a href="/project/{{ project.id }}">
      <div>
        <h3>{{ project.projectname }}</h3>
        <p>{{ project.projectFeaturedText | default: 'Project description coming soon...' }}</p>
      </div>
      <img src="{{ project.projectFeaturedImage }}" alt="featured image of {{ project.projectname }}" />
      <p>View Project</p>
     </a>
    </li>
    {% endfor %}
  </ul>
</section>

<!-- Expertises / Skills -->
<section id="expertises-section">
  <div>
    <h2>My Expertises</h2>
    <p class="contact-block">
      Over the past few years, I’ve grown my skill set across both web and game development, ranging from coding and design to user experience and interactive storytelling. Each project has helped me sharpen my expertise and explore new creative challenges.
    </p>
    {% render '../components/contact-button/contact-button.liquid' %}
  </div>
  <ul>
    <li>
      <h3>Agile Workflow</h3>
      <hr>
      {% comment %} <p>
        Through working with Agile workflows and Scrum, I’ve learned how to break projects into smaller, manageable tasks and tackle them in focused sprints. This step-by-step approach helps me stay organized, adapt quickly, and steadily build toward the bigger picture.
      </p> {% endcomment %}
    </li>
    <li>
      <h3>Leading Role</h3>
      <hr>
      {% comment %} <p>
        In group projects, I enjoy taking on a leading role—bringing out the strengths of each team member while creating space for everyone to grow. I believe in guiding a team with structure and support, but always staying open to learning and development along the way.
      </p> {% endcomment %}
    </li>
    <li>
      <h3>Problem Solving</h3>
      <hr>
      {% comment %} <p>
        When I’m given an assignment or faced with a problem, I like to dive right in. I enjoy exploring solutions by combining what I already know with what I can learn—whether that’s through research, experimenting, or asking the people around me.
      </p> {% endcomment %}
    </li>
    <li>
      <h3>Coding Help</h3>
      <hr>
      {% comment %} <p>
        When helping others with coding problems, I focus on guiding them to understand the core concepts behind the issue. I believe it’s more valuable to steer them toward discovering solutions themselves, so they build confidence and skills—because simply giving the answer doesn’t help in the long run.
      </p> {% endcomment %}
    </li>
    <li>
      <h3>Digital Creative</h3>
      <hr>
      {% comment %} <p>
        I work with a variety of tools to bring ideas to life—from coding in VS Code and building games in Unity, to editing videos in Final Cut Pro and designing prototypes and presentations in Figma. Each program helps me tackle different creative and technical challenges effectively.
      </p> {% endcomment %}
    </li>
  </ul>
</section>

<!-- Currently Working -->
<section id="current-work-section">
  <article class="heading-block">
    <h2>Projects I'm currently work on!</h2>
    <p class="content-block">
      Here’s a sneak peek at some of the projects I’m currently working on. These ongoing experiments help me sharpen my skills and explore new ideas and techniques.
    </p>
    {% render '../components/contact-button/contact-button.liquid' %}
  </article>
  <div id="projects-carousel" class="carousel-container">
    <ul class="carousel-track" data-carousel>
      {% for project in testProjects %}
      <li data-slide class="{% if forloop.first %}active{% endif %}">
        <img src="{{ project.projectFeaturedImage }}" alt="{{ project.projectname }}" />
        <h3 class="project-title">{{ project.projectname }}</h3>
      </li>
      {% endfor %}
    </ul>
    
    <div class="carousel-controls">
      <button class="prev-slide" aria-label="Previous slide">&#10094;</button>
      <div class="carousel-dots">
        {% for project in testProjects %}
        <span class="dot {% if forloop.first %}active{% endif %}" data-slide-index="{{ forloop.index0 }}"></span>
        {% endfor %}
      </div>
      <button class="next-slide" aria-label="Next slide">&#10095;</button>
    </div>
  </div>
</section>

<!-- Friends and coworkers section -->
{% comment %} <section id="recommendations-section">
  <article class="heading-block">
    <h2>People say about me!</h2>
    <p class="content-block">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit voluptatum recusandae quas tenetur earum. Repellat similique in quasi nemo provident iste debitis, mollitia rem architecto. Autem dolorum ducimus ipsa ipsam.</p>
    {% render '../components/contact-button/contact-button.liquid' %}
  </article>

  <div>
    <h3>Person A</h3>
    <h4>Person A title</h4>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia
      labore quis reiciendis tenetur dolores aliquid ad laboriosam eius
      repellendus, doloribus natus, quasi dicta obcaecati praesentium
      nihil in fugiat voluptate fuga!
    </p>
    <img src="./images/img-placeholder.png" alt="photo of person A" />
  </div>
  <div>
    <h3>Person A</h3>
    <h4>Person A title</h4>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia
      labore quis reiciendis tenetur dolores aliquid ad laboriosam eius
      repellendus, doloribus natus, quasi dicta obcaecati praesentium
      nihil in fugiat voluptate fuga!
    </p>
    <img src="./images/img-placeholder.png" alt="photo of person A" />
  </div>
</section> {% endcomment %}

{% render '../components/under-construction/under-construction.liquid' %}

<script>
  window.disciplineProjects = {{ disciplineProjects | json }};
</script>
{% endblock %}